{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 100, "Sum": 35, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T11:55:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 200, "Sum": 55, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T11:56:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 500, "Sum": 60, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T11:57:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 800, "Sum": 80, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T11:58:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1000, "Sum": 90, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T11:59:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 100, "Sum": 100, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:00:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 200, "Sum": 200, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:01:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 500, "Sum": 500, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:02:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 800, "Sum": 800, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:03:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1000, "Sum": 1000, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:04:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1025, "Sum": 1025, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:05:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1030, "Sum": 1030, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:06:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1050, "Sum": 1050, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:07:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1040, "Sum": 1040, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:08:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1060, "Sum": 1060, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:09:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1075, "Sum": 1075, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:10:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1080, "Sum": 1080, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:11:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1100, "Sum": 1100, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:12:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1120, "Sum": 1120, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:13:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1150, "Sum": 1150, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:14:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1140, "Sum": 1140, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:15:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1155, "Sum": 1155, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:16:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1170, "Sum": 1170, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:17:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1200, "Sum": 1200, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:18:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1210, "Sum": 1210, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:19:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1200, "Sum": 1200, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:20:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1190, "Sum": 1190, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:21:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1180, "Sum": 1180, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:22:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1190, "Sum": 1190, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:23:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1200, "Sum": 1200, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:24:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1215, "Sum": 1215, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:25:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1220, "Sum": 1220, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:26:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1210, "Sum": 1210, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:27:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1200, "Sum": 1200, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:28:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1190, "Sum": 1190, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:29:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1200, "Sum": 1200, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:30:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1210, "Sum": 1210, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:31:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1220, "Sum": 1220, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:32:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1215, "Sum": 1215, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:33:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1200, "Sum": 1200, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:34:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1190, "Sum": 1190, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:35:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1200, "Sum": 1200, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:36:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1190, "Sum": 1190, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:37:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1180, "Sum": 1180, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:38:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1170, "Sum": 1170, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:39:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1160, "Sum": 1160, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:40:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1140, "Sum": 1140, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:41:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1120, "Sum": 1120, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:42:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1100, "Sum": 1100, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:43:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1080, "Sum": 1080, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:44:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1050, "Sum": 1050, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:45:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1020, "Sum": 1020, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:46:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 1000, "Sum": 1000, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:47:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 950, "Sum": 950, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:48:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 900, "Sum": 900, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:49:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 850, "Sum": 850, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:50:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 800, "Sum": 800, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:51:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 750, "Sum": 750, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:52:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 700, "Sum": 700, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:53:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 650, "Sum": 650, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:54:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 600, "Sum": 600, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:55:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 550, "Sum": 550, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:56:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 500, "Sum": 500, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:57:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 300, "Sum": 300, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:58:00Z"}
{"Average": 1.0, "Maximum": 1.0, "Minimum": 1.0, "SampleCount": 100, "Sum": 100, "Unit": "Count", "account_id": "025293322704", "metric_dimensions": "LoadBalancerName=[splunkworkshop]", "metric_name": "RequestCount", "period": 60, "timestamp": "2023-05-18T12:59:00Z"}